<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs input</title>
</head>
<body>
    <p>this appearance of this code along with the change of title on the browser indicates our path was successfully created and we can see this on the browser</p>
    <form action="/input" method="POST">
        <label for="name">Hello- what is your name</label>
        <input type="text" name="name" placeholder="putsomethinghere">
        <label for="message">What would you like to say</label>
        <input type="text" name="message" placeholder="message">
        <button>Submit</button>
    </form>

</body>
</html>